<section class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>เกี่ยวกับเรา</h3>
      {{ title }} <br>
      อายุ : {{ age + 7 }} ปี <br>
      email : {{ info.email}}<br>
      <hr>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ex qui officiis eos, maiores laborum nulla a voluptate impedit deleniti illo repudiandae esse vero obcaecati accusantium totam facere? Dolore, libero?
      </p>

      <img [src]="logo" [width]="imgWidth">


    </div>
  </div>
</section>
